body{    
     margin:0;
     padding:0;
     background-image: url("../images/back.png");
}
p{
     font-size: 2.3em; 
     color:#ffffff;
     text-align:left;
     margin:0;
     padding:8%;
     background-color:rgba(0,0,0,0.04);
}
#rose{
     float:left;
     border: 0.7vw solid white;
     margin:3vw;
     clear:both;
     width:40%;
     margin-top:8%
}
#doright{
     width:100vw;
     margin-left:0;
     padding-left:0;
     margin-right:0;
     padding-right:0;
     margin-top:0!important;
     padding-top:0!important;
     margin:0;
     padding:0;
     position:relative;
     z-index:-1;
}